/* Defaults */

A {
  color:#0000ff;
  font-family:Verdana, Arial, Helvetica, sans-serif;
}

/* Page Header Style - banner, toolbar, and year/edition text */
.header {
  background-color:#ffffff;  
  color:#333333;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-weight:bold;
}

A.header {
  background-color:#ffffff;  
  color:#0000FF;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-weight:bold;

}

/* Page Title Style - Main centered page title */
.title {
  background-color:#ffffff;  
  color:#000000;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-weight:bold;
}

/* Page Footer Style */
.footer {
	background-color:#ffffff;
	color:#000000;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:70%;
	text-align: center;
	font-style: italic;
}

/* Help Page (Top Frame) Style */
.help {
  color:#333333;
; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 75%
}

/* Shaded Table Elements Style */
.shady {
  background-color:#EEEEDD;
  color:#000000;
  font-family:Verdana, Arial, Helvetica, sans-serif;
}

/* Sorted by Table Elements Style */
.sorted {
  background-color:#FFFFE1;
  color:#000000;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:80%;
}

/* Error Font Style */
.error {
  background-color:#E3EEFB;
  color:#000000;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-weight:bold;
  font-size:80%;
  padding-top: 2px; padding-right: 2px; padding-bottom: 2px; padding-left: 2px; border: 2px #D1DBE7 solid
}
TD {   
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:80%;
 } TH  {   background-color:#ffffff;
  color:#000000;
  font-family:Verdana, Arial, Helvetica, sans-serif;
; font-weight: bold ; font-size: 80%} .regV100 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 100%}
.pageHeader {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 120%; font-weight: bold; background-color: #EEEEDD; padding-right: 4px; padding-left: 4px; color: #5B5B5B}
h3 {  font-family: Verdana, Arial, Helvetica, sans-serif; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 4px}
.sortedcat { background-color:#E3EEFB; color:#000000; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:80%; }
.homeBanner {
	margin-right: 5px;
	margin-bottom: 25px;
}
.infoNewUsers {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 70%; text-align: right; margin-top: 4px; margin-right: 20px; margin-bottom: 25px}
.homeHeader { background-color:#EEEEDD; color:#333333; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:80%; ; font-weight: bold}
.homeTable { background-color:#F9F9F2; color:#000000; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:80%; }
.thomson_logo {  background-image: url('images/thomson_bk.gif'); background-repeat: repeat-x}
.homeTableDiv {  border-color: #999999 #FFFFFF; padding-top: 4px; padding-right: 4px; padding-bottom: 4px; padding-left: 4px; border-style: solid; border-top-width: 2px; border-right-width: 0px; border-bottom-width: 2px; border-left-width: 0px}
.fullRecSubHead { color:#333333; font-family:Verdana, Arial, Helvetica, sans-serif; font-weight:bold; ; font-size: 90%; padding-top: 3px; padding-right: 2px; padding-bottom: 3px; padding-left: 2px; border-color: #999999 #FFFFFF #FFFFFF; margin-top: 4px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; border-style: solid; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; background-color: F4F4EA}
.optionTable { background-color:#F9F9F2; color:#000000; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:75%; }
.dataTable { background-color:#FFFFFF; color:#000000; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:80%; }
.dataTableHeader { background-color:#EEEEDD; color:#525252; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:75%; ; font-weight: bold }
.optionTableHeader { background-color:#EEEEDD; color:#333333; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:80%; ; font-weight: bold }
.helpTable { background-color:#F9F9F2; color:#000000; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:80%; }
.catTableHeader { background-color:#EEEEDD; color:#525252; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:75%; ; font-weight: bold }

body {
	background-color: #FFFFFF;
	margin-top: 0px;
}

.scope { color:#000000; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:80%; }

.fullRecSubHeadText { ; padding-top: 1px; padding-right: 1px; padding-bottom: 1px; padding-left: 1px}
.dataTableHeaderNoBold { color:#575757; font-family:Verdana, Arial, Helvetica, sans-serif; ; font-weight: normal}
.navigation { background-color:#FFFFFF; color:#333333; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:75%; }
.journalTitleChanges { font-family: Verdana, Arial, Helvetica, sans-serif; margin-top: 4px; margin-right: 4px; margin-bottom: 4px ; font-weight: normal; font-size: 70%}
.howToSelect { font-family: Verdana, Arial, Helvetica, sans-serif; margin-top: 4px; margin-right: 4px; margin-bottom: 4px ; font-weight: normal; font-size: 10px}
.sideBar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #F9F9F2;
	border: 1px #999900 solid;
	padding: 4px;
}
.sideBarItems { border: none; padding-top: 4px}
.sideBarHeading { font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; border: none; padding-bottom: 2px; color: #666666}

.EigenSideBar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #F9F9F2;
	border: 1px #999999 solid;
	margin-bottom: 6px;
	padding-top: 0px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
}
.EigenSideBarItems {
	border: none;
	white-space: nowrap;
	padding-bottom: 2px;
	padding-left: 4px;
}
.EigenSideBarHeading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	border: none;
	color: #333333;
	white-space: nowrap;
	padding-top: 4px;
}


.pageHeaderName { color:#333333; font-family:Verdana, Arial, Helvetica, sans-serif; }
.normalText { background-color:#FFFFFF; color:#000000; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:80%; }
.wok_2nd_header {
	background-image: url(images/wok_logo_bk.gif);
	background-repeat: repeat;
	margin-bottom: 5px;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 9px;
	margin-left: -10px;
}
.ifBox {
	padding: 4px;
}
